/* reset default styles */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* reset default styles bootstrap */
.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  background-color: white;
  margin-top: 16px;
}

.navbar-toggler {
  margin-bottom: 20px;
}

.nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em !important;
  font-weight: 800 !important;
  color: #252525 !important;
}
.nav-link:hover {
  color: #3B3F8C !important;
  text-shadow: 0 0 1px #3B3F8C;
}

/* Style for header */
header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0 6px 6px rgba(50, 50, 93, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 6px rgba(50, 50, 93, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.logo-img {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 12px;
  left: 20px;
}

.logo-name {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 16px;
  left: 110px;
  font-size: 3rem;
  font-weight: 800;
  display: inline-block;
}

/* Style for home section */
.home {
  background-image: url(../img/home.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: -moz-calc(100vh + 140px);
  height: -webkit-calc(100vh + 140px);
  height: calc(100vh + 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -140px;
}

.text-home {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 0;
}

.text-title {
  position: fixed;
  top: 145px;
  font-size: 2.5rem;
  /* Keyframes animate.css */
  animation: fadeInDownBig;
  animation-duration: 0.8s;
}

.text-libreria {
  position: fixed;
  top: 215px;
  font-size: 3rem;
  /* Keyframes animate.css */
  animation: fadeInDownBig;
  animation-duration: 1.8s;
}

.text-oficina {
  position: fixed;
  top: 285px;
  font-size: 3rem;
  /* Keyframes animate.css */
  animation: fadeInDownBig;
  animation-duration: 2.6s;
}

.text-computacion {
  position: fixed;
  top: 355px;
  font-size: 3rem;
  /* Keyframes animate.css */
  animation: fadeInDownBig;
  animation-duration: 3.4s;
}

/* Style for empresa section */
#empresa {
  position: relative;
}

.target-empresa {
  position: absolute;
  left: 0px;
  top: -90px;
  font-size: 0;
}

.container-business {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.842);
  height: 260px;
  border: solid #05C7F2 6px;
}

.business-info {
  font-family: "Ubuntu", sans-serif;
  color: #eee;
  margin: auto;
  width: 70%;
  font-size: 1.6rem;
}

.title-secondary {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}

.margin-text {
  margin-top: 20px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.card-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 242px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 18px;
  border-radius: 15px;
  border: 1px solid #D6DAE4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-image {
  width: 40px;
  height: 40px;
}

.card-name {
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

.star-resize {
  margin-top: -30px;
  margin-right: -0.2em;
  height: 14px;
}

.card-comment {
  margin-top: -8px;
  padding-bottom: 10px;
  overflow: hidden;
  max-height: 82px;
  line-height: 1.1em;
  font-size: 0.9em;
}

.read-more {
  display: block;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0, 10, 18, 0.6);
  margin-top: 2px;
  text-decoration: none;
}
.read-more:hover {
  color: rgba(0, 10, 18, 0.6);
}

.card-link {
  display: flex;
  flex-direction: row;
  margin-left: -60px;
  text-decoration: none;
}

.card-link-text {
  margin-top: 15px;
  margin-left: 10px;
}

.text-link-review {
  font-size: 10px;
  line-height: 0;
  color: rgba(0, 10, 18, 0.5);
}

/* Style for productos section */
#productos {
  position: relative;
}

.target-productos {
  position: absolute;
  left: 0px;
  top: -90px;
  font-size: 0;
}

.container-images {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
}

.adaptative-width {
  width: 25%;
}

.title-brands {
  border: solid 2px black;
}

.container-brands {
  background-color: #05C7F2;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.minimum-size {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8px 0;
}
.minimum-size img {
  width: 120px;
}

.resize-up {
  width: 160px !important;
}

.resize-down {
  width: 70px !important;
}

/* Style for galeria section */
#galeria {
  margin: 15px 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.target-galeria {
  position: absolute;
  left: 0px;
  top: -90px;
  font-size: 0;
}

.gallery-expand {
  width: 100%;
}

.gallery-mini {
  border-radius: 10px;
  transition: all 0.3s;
}
.gallery-mini:hover {
  transform: scale(1.04);
}

.del-border {
  border: none;
  border-radius: 10px;
}

/* Style for contacto section */
#contacto {
  position: relative;
  height: 387px;
}

.target-contacto {
  position: absolute;
  left: 0px;
  top: -90px;
  font-size: 0;
}

.title-location {
  padding: 30px;
  border: solid 2px black;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0rem;
  font-weight: 600;
}

.map {
  width: 100%;
  height: 300px;
}

/* Style for footer */
.footer {
  position: relative;
  background: #252525;
}

.container-footer {
  height: 90%;
}

.text-footer {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.min-margin-text {
  margin-bottom: 0;
  margin-top: 0;
}

.icon-footer {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.container-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  border: solid #969696 1px;
}

.text-copyright {
  font-family: "Electrolize", sans-serif;
  color: #969696;
  margin-bottom: 0;
}

/* Animations */
.rotate {
  -webkit-animation: rotation 16s infinite linear;
  -o-animation: rotation 16s infinite linear;
  -moz-animation: rotation 16s infinite linear;
  animation: rotation 16s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.animation-brands-left {
  -webkit-animation: movement-x-left 30s linear infinite;
  -o-animation: movement-x-left 30s linear infinite;
  -moz-animation: movement-x-left 30s linear infinite;
  animation: movement-x-left 30s linear infinite;
}

@keyframes movement-x-left {
  0% {
    -webkit-transform: translateX(0vw);
    -o-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(-1386px);
    -o-transform: translateX(-1386px);
    -moz-transform: translateX(-1386px);
    transform: translateX(-1386px);
  }
}
.animation-brands-right {
  -webkit-animation: movement-x-right 30s linear infinite;
  -o-animation: movement-x-right 30s linear infinite;
  -moz-animation: movement-x-right 30s linear infinite;
  animation: movement-x-right 30s linear infinite;
}

@keyframes movement-x-right {
  0% {
    -webkit-transform: translateX(-1334px);
    -o-transform: translateX(-1334px);
    -moz-transform: translateX(-1334px);
    transform: translateX(-1334px);
  }
  100% {
    -webkit-transform: translateX(0vw);
    -o-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    transform: translateX(0vw);
  }
}
/* Media Querys */
/* Tablet */
@media only screen and (min-width: 830px) and (max-width: 992px) {
  .logo-img {
    width: 60px;
    height: 60px;
    top: 15px;
    left: 16px;
  }
  .logo-name {
    font-size: 2.8rem;
    top: 19px;
    left: 90px;
  }
  .text-title {
    top: 130px;
    font-size: 2rem;
  }
  .text-libreria {
    top: 200px;
    font-size: 2.5rem;
  }
  .text-oficina, .text-computacion {
    top: 270px;
    font-size: 2.5rem;
  }
  .text-computacion {
    top: 340px;
    font-size: 2.5rem;
  }
  .business-info {
    font-size: 1.3rem;
  }
  .row-edit {
    display: block !important;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 50% !important;
  }
}
/* Mini Tablet */
@media only screen and (min-width: 480px) and (max-width: 830px) {
  .logo-img {
    width: 60px;
    height: 60px;
    top: 15px;
    left: 16px;
  }
  .logo-name {
    font-size: 2.8rem;
    top: 19px;
    left: 90px;
  }
  .text-title {
    top: 130px;
    font-size: 2rem;
  }
  .text-libreria {
    top: 200px;
    font-size: 2.5rem;
  }
  .text-oficina, .text-computacion {
    top: 270px;
    font-size: 2.5rem;
  }
  .text-computacion {
    top: 340px;
    font-size: 2.5rem;
  }
  .business-info {
    font-size: 1.3rem;
  }
  .container-images {
    display: none;
  }
  .row-edit {
    display: block !important;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 30% !important;
  }
}
/* Movil */
@media only screen and (max-width: 480px) {
  .logo-img {
    width: 60px;
    height: 60px;
    top: 15px;
    left: 16px;
  }
  .logo-name {
    font-size: 2.8rem;
    top: 19px;
    left: 90px;
  }
  .text-title {
    top: 110px;
    font-size: 1.3rem;
  }
  .text-libreria {
    top: 160px;
    font-size: 1.8rem;
  }
  .text-oficina, .text-computacion {
    top: 205px;
    font-size: 1.8rem;
  }
  .text-computacion {
    top: 250px;
    font-size: 1.8rem;
  }
  .business-info {
    font-size: 1rem;
  }
  .container-images {
    display: none;
  }
  .row-edit {
    display: block !important;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 10% !important;
  }
  .text-copyright {
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
