/* reset default styles */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* reset default styles bootstrap */
.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  background-color: white;
  margin-top: 20px;
}

.navbar-toggler {
  margin-bottom: 20px;
}

.nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em !important;
  font-weight: 800 !important;
  color: #252525 !important;
}
.nav-link:hover {
  color: #3B3F8C !important;
}

/* Style for header */
header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  background-color: white;
  -webkit-box-shadow: 0 6px 6px rgba(50, 50, 93, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 6px rgba(50, 50, 93, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.logo-img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 14px;
  left: 20px;
}

.logo-name {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 20px;
  left: 110px;
  font-size: 3rem;
  font-weight: 800;
  display: inline-block;
}

/* Style for home section */
.home {
  background-image: url(../img/home.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: -moz-calc(100vh);
  height: -webkit-calc(100vh);
  height: 100vh;
}

.text-home {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: white;
}

.text-title {
  position: absolute;
  top: 125px;
  font-size: 2.5rem;
}

.text-libreria {
  position: absolute;
  top: 220px;
  font-size: 3rem;
}

.text-oficina {
  position: absolute;
  top: 300px;
  font-size: 3rem;
}

.text-computacion {
  position: absolute;
  top: 380px;
  font-size: 3rem;
}

/* Style for empresa section */
#empresa {
  position: relative;
}

.target-empresa {
  position: absolute;
  left: 0px;
  top: -100px;
}

.container-business {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.842);
  height: 300px;
  border: solid #05C7F2 6px;
}

.business-info {
  font-family: "Ubuntu", sans-serif;
  color: #eee;
  margin: auto;
  width: 70%;
  font-size: 1.6rem;
}

.title-secondary {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}

.margin-text {
  margin-top: 20px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.card-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 238px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #D6DAE4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-image {
  width: 40px;
  height: 40px;
}

.card-name {
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

.star-resize {
  margin-top: -30px;
  margin-right: -0.2em;
  height: 14px;
}

.card-comment {
  margin-top: -8px;
  padding-bottom: 10px;
  overflow: hidden;
  max-height: 82px;
  line-height: 1.1em;
  font-size: 0.9em;
}

.read-more {
  display: block;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0, 10, 18, 0.5);
}

.card-link {
  display: flex;
  flex-direction: row;
  margin-left: -60px;
  text-decoration: none;
}

.card-link-text {
  margin-top: 15px;
  margin-left: 10px;
}

.text-link-review {
  font-size: 10px;
  line-height: 0;
  color: rgba(0, 10, 18, 0.5);
}

/* Style for productos section */
#productos {
  position: relative;
}

.target-productos {
  position: absolute;
  left: 0px;
  top: -100px;
}

.container-brands {
  background-color: #05C7F2;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.minimum-size {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 6px 0;
}
.minimum-size img {
  width: 120px;
}

.resize-up {
  width: 160px !important;
}

.resize-down {
  width: 85px !important;
}

/* Style for galeria section */
#galeria {
  margin: 30px 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.target-galeria {
  position: absolute;
  left: 0px;
  top: -100px;
}

.gallery-expand {
  width: 100%;
}

.gallery-mini {
  border-radius: 10px;
}

.del-border {
  border: none;
}

/* Style for contacto section */
#contacto {
  position: relative;
  height: 500px;
  display: grid;
  grid-template-rows: 85px 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "title-location title-location title-location title-location" "map map map location" "map map map tel" "map map map mail";
}

.target-contacto {
  position: absolute;
  left: 0px;
  top: -100px;
}

.title-location {
  grid-area: title-location;
  padding: 30px;
  border: solid 2px black;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0rem;
  font-weight: 600;
}

.map {
  grid-area: map;
  height: 415px;
}

.location {
  grid-area: location;
  text-align: center;
  align-self: end;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.tel {
  grid-area: tel;
  text-align: center;
  align-self: center;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.mail {
  grid-area: mail;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

/* Style for footer */
.footer {
  background: #252525;
}

.container-footer {
  height: 90%;
}

.text-footer {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.min-margin-text {
  margin-bottom: 0;
  margin-top: 0;
}

.icon-footer {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.container-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  border: solid #969696 1px;
}

.text-copyright {
  font-family: "Electrolize", sans-serif;
  color: #969696;
  margin-bottom: 0;
}

/* Animations */
.rotate {
  -webkit-animation: rotation 16s infinite linear;
  -o-animation: rotation 16s infinite linear;
  -moz-animation: rotation 16s infinite linear;
  animation: rotation 16s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* Media Querys */
/* Tablet */
@media only screen and (min-width: 830px) and (max-width: 992px) {
  .home__title {
    font-size: 2rem;
  }
  .home__text {
    font-size: 2.5rem;
  }
  .business-info {
    font-size: 1.3rem;
  }
  .row-edit {
    display: block !important;
  }
}
/* Mini Tablet */
@media only screen and (min-width: 480px) and (max-width: 830px) {
  .home__title {
    font-size: 2rem;
  }
  .home__text {
    font-size: 2.5rem;
  }
  .business-info {
    font-size: 1.3rem;
  }
  .row-edit {
    display: block !important;
  }
}
/* Movil */
@media only screen and (max-width: 480px) {
  .home__title {
    font-size: 1.5rem;
  }
  .home__text {
    font-size: 2rem;
  }
  .business-info {
    font-size: 1rem;
  }
  .contacto {
    height: 600px;
    display: grid;
    grid-template-rows: 85px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title-location title-location title-location" "map map map" "map map map" "location location location" "tel tel tel" "mail mail mail";
  }
  .text-copyright {
    font-size: 0.6rem;
  }
  .row-edit {
    display: block !important;
  }
}

/*# sourceMappingURL=style.css.map */
