/* Style for contacto section */

#contacto{
    position: relative;
    height: 387px;
}

.target-contacto{
    position: absolute;
    left: 0px;
    top: -90px;
    font-size: 0;
}

.title-location{
    padding: 30px;
    border: solid 2px black;
    font-family: $font-main;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0rem;
    font-weight: 600;
}

.map{
    width: 100%;
    height: 300px;
}