/* Style for galeria section */

#galeria{
    margin: 15px 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.target-galeria{
    position: absolute;
    left: 0px;
    top: -90px;
    font-size: 0;
}

.gallery-expand{
    width: 100%
}

.gallery-mini{
    border-radius: 10px;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.04);
    }
}

.del-border{
    border: none;
    border-radius: 10px;
}

.gallery-react-border{
    background-color: black !important;
    opacity: 0.4 !important;
    width: 8% !important;
    margin: 15px;
}

.gallery-react-border:hover{
    background-color: white !important;
    transition: none;
    opacity: 0.3 !important;
}

.gallery-react-border:hover .galery-icon-carousel{
    filter: invert(100%) !important;
}

.galery-icon-carousel{
    width: 4rem  !important;
    height: 4rem  !important;
}