/* Style for galeria section */

#galeria{
    margin: 30px 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.target-galeria{
    position: absolute;
    left: 0px;
    top: -90px;
}

.gallery-expand{
    width: 100%
}

.gallery-mini{
    border-radius: 10px;
}

.del-border{
    border: none;
}