/* Style for home section */

.home{
    background-image: url(../img/home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: -moz-calc(100vh + 80px);
    height: -webkit-calc(100vh + 80px);
    height: calc(100vh + 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -80px;
}

.text-home{
    font-family: $font-main;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: white;
}

.text-title{
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.text-libreria{
    font-size: 3rem;
}

.text-oficina{
    font-size: 3rem;
}

.text-computacion{
    font-size: 3rem;
}