/* Style for productos section */

#productos {
    position: relative;
}

.target-productos{
    position: absolute;
    left: 0px;
    top: -100px;
}

.container-brands{
    background-color: $color-cyan;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.minimum-size{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6px 0;
    img{
        padding: 15px;
        width: 100px;
    }
}