/* Style for productos section */

#productos {
    position: relative;
}

.target-productos{
    position: absolute;
    left: 0px;
    top: -90px;
}

.container-brands{
    background-color: $color-cyan;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.minimum-size{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 8px 0;
    img{
        width: 120px;
    }
}

.resize-up{
    width: 160px !important;
}

.resize-down{
    width: 70px !important;
}