/* Style for servicios section */

#servicios{
    position: relative;
}

.target-servicios{
    position: absolute;
    left: 0px;
    top: -100px;
}

.servicios__text{
    font-family: $font-main;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
}

.servicios__image{
    background-image: url(../img/Tecnico.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: -moz-calc(100vh - 100px);
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
}