/* Animations */

@mixin prefix-animation($property) {
  -webkit-animation: $property;
  -o-animation: $property;
  -moz-animation: $property;
  animation: $property;
}

.rotate{
  @include prefix-animation(rotation 16s infinite linear);
}

@mixin prefix-transform($property) {
  -webkit-transform: $property;
  -o-transform: $property;
  -moz-transform: $property;
  transform: $property;
}

@keyframes rotation{
  from {
    @include prefix-transform(rotate(0deg));
  }
  to {
    @include prefix-transform(rotate(359deg));
  }
}
