/* Media Querys */

/* Tablet */
@media only screen and (min-width: 830px) and (max-width: 992px){
    .logo-img{
        width: 60px;
        height: 60px;
        top: 15px;
        left: 16px;
    }
    .logo-name{
        font-size: 2.8rem;
        top: 19px;
        left: 90px;
    }
    .text-title{
        top: 130px;
        font-size: 2rem;
    }
    .text-libreria{
        top: 200px;
        font-size: 2.5rem;
    }
    .text-oficina,.text-computacion{
        top: 270px;
        font-size: 2.5rem;
    }
    .text-computacion{
        top: 340px;
        font-size: 2.5rem;
    }
    .business-info{
        font-size: 1.3rem;
    }
    .row-edit{
        display: block !important;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 50% !important;
    }
}

/* Mini Tablet */
@media only screen and (min-width: 480px) and (max-width: 830px){
    .logo-img{
        width: 60px;
        height: 60px;
        top: 15px;
        left: 16px;
    }
    .logo-name{
        font-size: 2.8rem;
        top: 19px;
        left: 90px;
    }
    .text-title{
        top: 130px;
        font-size: 2rem;
    }
    .text-libreria{
        top: 200px;
        font-size: 2.5rem;
    }
    .text-oficina,.text-computacion{
        top: 270px;
        font-size: 2.5rem;
    }
    .text-computacion{
        top: 340px;
        font-size: 2.5rem;
    }
    .business-info{
        font-size: 1.3rem;
    }
    .container-images{
        display: none;
    }
    .row-edit{
        display: block !important;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 30% !important;
    }
}

/* Movil */
@media only screen and (max-width: 480px) {
    .logo-img{
        width: 60px;
        height: 60px;
        top: 15px;
        left: 16px;
    }
    .logo-name{
        font-size: 2.8rem;
        top: 19px;
        left: 90px;
    }
    .text-title{
        top: 110px;
        font-size: 1.3rem;
    }
    .text-libreria{
        top: 160px;
        font-size: 1.8rem;
    }
    .text-oficina,.text-computacion{
        top: 205px;
        font-size: 1.8rem;
    }
    .text-computacion{
        top: 250px;
        font-size: 1.8rem;
    }
    .business-info{
        font-size: 1rem;
    }
    .container-images{
        display: none;
    }
    .row-edit{
        display: block !important;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 10% !important;
    }
    .text-copyright{
        font-size: 0.6rem;
    }
}