/* reset default styles */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* reset default styles bootstrap */

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    background-color: white;
    margin-top: 16px;
}

.navbar-toggler{
    margin-bottom: 20px;
}

.nav-link{
    font-family: $font-header;
    font-size: 1.2em !important;
    font-weight: 800 !important;
    color: #252525 !important;
    &:hover{
        color: $color-blue !important; 
    }
}